.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .wrapper {
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        .left {
            width: 100%;
            max-width: 500px;
        }
    }
}       