.container {
    .wrapper {    
        padding: 20px;
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
        .user {
            margin: 16px;
            box-shadow: 0 0 5px #333;
            width: 100%;
            max-width: 400px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            .wrap {
                display: flex;
                align-items: center;
            }
            span {
                padding: 5px;
            }
            .userImage {
                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }
            }
            .chatImage {
                cursor: pointer;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }   
}